# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [2]:
import selenium
from selenium import webdriver # ready to start the browser
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from selenium.webdriver.common.by  import By

import time

In [3]:
# first connect to the driver

driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

# connect to  the url that i want to open 
driver.get("https://www.flipkart.com/")

In [4]:
Product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input ")# absolute x_path
Product.send_keys("sunglasses")

In [6]:
search_button=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')# absolute x_path
search_button.click()

In [7]:
# create empty list whatevwe we want to scrap
Product_Brand=[]
Product_Description=[]
Product_Price=[]

In [9]:
start=0
end=3
for page in range(start,end):
    # sraping v from given page
    Brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')# relative x_path
    for i in Brand_tags:
        Brand=i.text
        Product_Brand.append(Brand)

    
    # sraping Product_Description from given page
    Description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in Description_tags:
        Description=i.text
        Product_Description.append(Description)
    
    # sraping Product_Price from given page
    Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in Price_tags:
        Price=i.text
        Product_Price.append(Price)
        
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')# relative x_path
next_button.click()
time.sleep(3)

In [10]:
print(len(Product_Brand),len(Product_Description),len(Product_Price))

120 120 120

In [11]:
sun_glass=pd.DataFrame({"Product_Brand":Product_Brand,"Product_Description":Product_Description,"Product_Price":Product_Price})

In [12]:
sun_glass

,Product_Brand,Product_Description,Product_Price
0,FOSSIL,Others Rectangular Sunglasses (54),"₹2,279"
1,FOSSIL,Others Aviator Sunglasses (58),"₹2,899"
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹499
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹449
4,SHAAH COLLECTIONS,UV Protection Round Sunglasses (54),₹79
...,...,...,...
115,CARRERA,Others Rectangular Sunglasses (52),"₹2,999"
116,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (58)",₹461
117,PIRASO,UV Protection Aviator Sunglasses (58),₹244
118,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹459
119,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹507