# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data

In [1]:
#!pip install selenium

Collecting selenium
  Downloading selenium-4.5.0-py3-none-any.whl (995 kB)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting trio~=0.17
  Downloading trio-0.22.0-py3-none-any.whl (384 kB)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.0.0rc9-py3-none-any.whl (12 kB)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, exceptiongroup, wsproto, trio, trio-websocket, selenium
Successfully installed exceptiongroup-1.0.0rc9 h11-0.14.0 outcome-1.2.0 selenium-4.5.0 trio-0.22.0 trio-websocket-0.9.2 wsproto-1.2.0

In [1]:
import selenium
from selenium import webdriver # ready to start the browser
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from selenium.webdriver.common.by  import By

import time

#from selenium.common.exceptions import StateElementReferenceException,NoSuchElementException

#from selenium.webdriver.chrome.service import Service

#from webdriver_manager.chrome import ChromeDriverManager

#from selenium.webdriver.common.keys import Keys

In [2]:
# wedriver downloading done by using link http:// chromedriver.chromium.org/downlods

In [3]:
# first connect to the driver

driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
# connect to  the url that i want to open 
driver.get("https://www.naukri.com/")

In [5]:
#job-title, job-location, company_name, experience_required

In [6]:
# enterung designation and location as required in question
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Analyst")

In [7]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input ")# absolute x_path
location.send_keys("Bangalore")

In [8]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")# absolute x_path
search.click()

In [9]:
# create empty list whatevwe we want to scrap
job_title=[]
company_name=[]
job_location=[]
experience_required=[]

In [10]:
# sraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')# relative x_path
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

    
# sraping company name from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# sraping company location from given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#_ sraping experience_required from given page
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [11]:
print(len(job_title),len(job_location),len(experience_required),len(company_name))

10 10 10 10

In [12]:
# creating the dataframe from above data

df=pd.DataFrame({"job_title":job_title,"company_name":company_name,"job_location":job_location,"experience_required":experience_required})

In [13]:
df

,job_title,company_name,job_location,experience_required
0,Senior Data Analyst,Latentview,"Bangalore/Bengaluru, Chennai",3-6 Yrs
1,Data Analyst - CRM Platform,Artech infosystem,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",1-6 Yrs
2,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,Cognizant,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",3-8 Yrs
3,Payroll Transformation Data Analyst,Arrow Electronics,Bangalore/Bengaluru,5-10 Yrs
4,Master Data Management Business Analyst,Accenture,Bangalore/Bengaluru,6-8 Yrs
5,Data Analytics and Interpretation Business Ana...,Accenture,Bangalore/Bengaluru,6-8 Yrs
6,Data Analyst,ANZ,Bangalore/Bengaluru,7-12 Yrs
7,Data Analyst,ANZ,Bangalore/Bengaluru,7-12 Yrs
8,Senior Data Analyst,Goalreify Ventures,Bangalore/Bengaluru,3-6 Yrs
9,Senior Data Analyst,Goalreify Ventures,Bangalore/Bengaluru,4-6 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [14]:
import selenium
from selenium import webdriver # ready to start the browser
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from selenium.webdriver.common.by  import By

import time

In [15]:
# first connect to the driver

driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

# connect to  the url that i want to open 
driver.get("https://www.naukri.com/")

In [16]:
# enterung designation and location as required in question
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Analyst")

In [17]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input ")# absolute x_path
location.send_keys("Bangalore")

In [18]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")# absolute x_path
search.click()

In [19]:
# create empty list whatevwe we want to scrap
job_title=[]
company_name=[]
job_location=[]

In [20]:
# sraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')# relative x_path
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

    
# sraping company name from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# sraping company location from given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [21]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [22]:
# creating the dataframe from above data

ds=pd.DataFrame({"job_title":job_title,"company_name":company_name,"job_location":job_location})

In [23]:
ds

,job_title,company_name,job_location
0,Senior Data Analyst,Latentview,"Bangalore/Bengaluru, Chennai"
1,Data Analyst - CRM Platform,Artech infosystem,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde..."
2,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,Cognizant,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund..."
3,Payroll Transformation Data Analyst,Arrow Electronics,Bangalore/Bengaluru
4,Master Data Management Business Analyst,Accenture,Bangalore/Bengaluru
5,Data Analytics and Interpretation Business Ana...,Accenture,Bangalore/Bengaluru
6,Data Analyst,ANZ,Bangalore/Bengaluru
7,Data Analyst,ANZ,Bangalore/Bengaluru
8,Senior Data Analyst,Goalreify Ventures,Bangalore/Bengaluru
9,Senior Data Analyst,Goalreify Ventures,Bangalore/Bengaluru

q 3 In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [1]:
import selenium
from selenium import webdriver # ready to start the browser
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from selenium.webdriver.common.by  import By

import time

In [2]:
# first connect to the driver

driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

# connect to  the url that i want to open 
driver.get("https://www.flipkart.com/")

In [3]:
Product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input ")# absolute x_path
Product.send_keys("sunglasses")

In [4]:
search_button=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')# absolute x_path
search_button.click()

In [5]:
# create empty list whatevwe we want to scrap
Product_Brand=[]
Product_Description=[]
Product_Price=[]

In [6]:
start=0
end=3
for page in range(start,end):
    # sraping v from given page
    Brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')# relative x_path
    for i in Brand_tags[0:100]:
        Brand=i.text
        Product_Brand.append(Brand)

    
    # sraping Product_Description from given page
    Description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in Description_tags[0:100]:
        Description=i.text
        Product_Description.append(Description)
    
    # sraping Product_Price from given page
    Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in Price_tags[0:100]:
        Price=i.text
        Product_Price.append(Price)
        
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')# relative x_path
next_button.click()
time.sleep(3)

In [ ]:
print()

In [9]:
sun_glass=pd.DataFrame({"Product_Brand":Product_Brand,"Product_Description":Product_Description,"Product_Price":Product_Price})

In [10]:
sun_glass

,Product_Brand,Product_Description,Product_Price
0,FOSSIL,Others Oval Sunglasses (56),"₹2,069"
1,CARRERA,Others Rectangular Sunglasses (52),"₹2,999"
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹499
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹449
4,SHAAH COLLECTIONS,UV Protection Round Sunglasses (54),₹79
...,...,...,...
115,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹507
116,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹459
117,ROYAL SON,"Polarized, UV Protection Wayfarer, Retro Squar...",₹424
118,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹459
119,Silver Kartz,UV Protection Aviator Sunglasses (88),₹192

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
    
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [16]:
import selenium
from selenium import webdriver # ready to start the browser
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from selenium.webdriver.common.by  import By

import time

In [17]:
# first connect to the driver

driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

# connect to  the url that i want to open 
driver.get("https://www.flipkart.com/")

In [18]:
Product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input ")# absolute x_path
Product.send_keys("iphone11")

In [19]:
search_button=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')# absolute x_path
search_button.click()

In [20]:
product_link=driver.find_elements(By.XPATH,'//a[@class="_1fQZEK"]')# absolute x_path
#product_link[0:100]

In [21]:
for i in product_link :
    i.get_attribute("href")

In [25]:
# create empty list whatevwe we want to scrap
iphone11_Rating=[]
iphone11_Review_summary=[]
iphone11_Full_review=[]

In [26]:
start=0
end=10
for page in range(start,end):

    Rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')# relative x_path
    for i in Rating_tags:
        iphone11_Rating.append(i.text)

    Full_review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in Full_review_tags[0:100]:
        iphone11_Full_review.append(i.text)
    
    Review_summary_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in Review_summary_tags:
        iphone11_Review_summary.append(i.text)
        
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')# relative x_path
next_button.click()
time.sleep(3)

In [27]:
print(len( iphone11_Rating),len(iphone11_Full_review),len(iphone11_Review_summary))

100 100 100

In [28]:
iphone11=pd.DataFrame({"Rating":iphone11_Rating,"Full_review":iphone11_Full_review,"Review_summary":iphone11_Review_summary})
iphone11

,Rating,Full_review,Review_summary
0,5,Perfect product!,After using 3 years mobile review. Excellent &...
1,5,Terrific,I am using the phone for last 5 years and foun...
2,3,Good phone but not for the power user,Apple's iPhone series have been known for thei...
3,5,Super!,This review is after 6 year of purchasing this...
4,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
...,...,...,...
95,5,Wonderful,Nice product..just love it
96,4,Good quality product,impressively Nice......\nOne of the greatest i...
97,5,Perfect product!,Nice products thanks flkat
98,5,Fabulous!,Fast performance to previous iPhone x\nGood ca...
99,5,Mind-blowing purchase,Fantastic and prompt delivery.

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker:

Brand
Product Description
Price

In [31]:
import selenium
from selenium import webdriver # ready to start the browser
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from selenium.webdriver.common.by  import By

import time

In [32]:
# first connect to the driver

driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

# connect to  the url that i want to open 
driver.get("https://www.flipkart.com/")

In [33]:
Product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input ")# absolute x_path
Product.send_keys("sneakers")

In [35]:
search_button=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')# absolute x_path
search_button.click()

In [36]:
# create empty list whatevwe we want to scrap
Product_Brand=[]
Product_Description=[]
Product_Price=[]

In [37]:
start=0
end=3
for page in range(start,end):
    # sraping v from given page
    Brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')# relative x_path
    for i in Brand_tags[0:100]:
        Brand=i.text
        Product_Brand.append(Brand)

    
    # sraping Product_Description from given page
    Description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in Description_tags[0:100]:
        Description=i.text
        Product_Description.append(Description)
    
    # sraping Product_Price from given page
    Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in Price_tags[0:100]:
        Price=i.text
        Product_Price.append(Price)
        
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')# relative x_path
next_button.click()
time.sleep(3)

In [38]:
print(len(Product_Brand),len(Product_Description),len(Product_Price))

120 120 120

In [39]:
sneakers=pd.DataFrame({"Product_Brand":Product_Brand,"Product_Description":Product_Description,"Product_Price":Product_Price})
sneakers

,Product_Brand,Product_Description,Product_Price
0,Wildcraft,True Black Shoe Sneakers For Men,"₹1,069"
1,TR,Casual White Sneakers For Men,₹239
2,RED TAPE,Sneakers For Men,₹899
3,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹191
4,BRUTON,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹143
...,...,...,...
115,bacca bucci,JUPITER Men's Retro Color Blocked Light Weight...,"₹1,320"
116,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,₹399
117,K- FOOTLANCE,Sneakers For Men,₹319
118,BRUTON,Sneaker Sneakers For Men,₹206
119,'Trends',Fashionable casual sneaker shoes Sneakers For Men,₹380